/*grup seciciler*/
div{
	/* border: 2px solid red; */

}

div p{
	border: 2px solid red;
		
}

.container div p{
	background-color: darkgoldenrod;
}

p+div{
	background-color: aqua;
}
/*p den sonra gelen div*/


p[title="baslık1"]{
	background-color: crimson;
}
p[title="baslık2"]{
	background-color: chartreuse;
}

h1[title="baslık3"]{
	background-color: yellow;
}
p::first-letter{
	font-size: 2rem;
}
p::first-line{
	font-style: italic;
}

#id{

}

.class{
	
}